* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container {
    background-color: #171a21;
    padding: 16px 0;
    color: #fff;
}


header nav li {
    display: inline;
    margin-left: 16px;
    margin-right: 8PX;
    font-size: 24px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-family: motiva-sans, sans-serif;
font-style:normal;
font-weight: 200;
}

header li a {
    color: #fff;
    text-decoration: none;
    
}

header div h1 {
    display: inline;
    cursor: pointer;
    margin-right: 720px;
    
}

.container h2 {
    color: #1a9fff;
    margin: 4px;
}

.container

header div a {
    margin-right: 16px;
    margin-left: -72px;
    
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 31%;
}

.articles article img {
    height: 180px;
}

header img {
    margin-left: 32px;
}

#sports {
    background-color: #000000;
    margin: -8px 0;
    padding: 16px;
}

#sports p, h3 {
    color: #fff;
}

#sports time {
    color: #606879;
}

#sports a {
    background-color: #1a9fff;
    font-family: motiva-sans, sans-serif;
    border-radius: 8px;
}

#sports .articles article a {
    display: inline-block;
    padding: 8px;
}    

#action {
    background-color: #171a21;
    padding: 8px;
}

#action p {
    color: #fff;
}

#action time {
    color: #35383f;
}

#action a {
    background-color: #1a9fff;
    font-family: motiva-sans, sans-serif;
    border-radius: 8px;
}

#action .articles article a {
    display: inline-block;
    padding: 8px;
}

section h2 {
    font-size: 48px;
    padding: 8px;
}

#action .articles article a:hover {
    background-color: #4ba6e7;
}

#sports .articles article a:hover {
    background-color: #4ba6e7;
}

footer {
    background-color: #0c0c0c;
    color: #fff;
    padding: 16px 0;
}

#contact .container {
    display: block;
    background-color: #1f232c;
    padding: 16px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer;
    background:#171a21
    
}

textarea {
    resize: none;
}

.contact-methods {
    display: flex;
    justify-content:space-between;
}

input[type=text] {
    color: #1a9fff;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 16px;
}

.articles article {
    position: relative;
    overflow: hidden; /* Adiciona overflow hidden para esconder conteúdo que ultrapassa */
}

.articles article button {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 30px; /* Defina a altura máxima para o botão */
    padding: 5px 10px;
    background-color: #1a9fff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para a cor de fundo */
}

form button:hover {
    background-color: #1a9fff;
}

section h2 {
    font-size: 48px;
    padding: 8px;
}