* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > header {
    background-color: #171a21;
    padding: 16px 0;
    color: #fff;
}

header li {
    display: inline;
    margin-left: 72px;
    font-size: 20px;
    
}

header .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-family: motiva-sans, sans-serif;
font-style:normal;
font-weight: 200;
}

header li a {
    color: #fff;
    text-decoration: none;
    
}

header div h1 {
    display: inline;
    cursor: pointer;
    margin-right: 720px;
    
}

header div a {
    margin-right: 16px;
    margin-left: -72px;
    
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 31%;
}

.articles article img {
    height: 180px;
}

header img {
    margin-left: 32px;
}