* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > header {
    background-color: #171a21;
    padding: 16px 0;
    color: #fff;
}

header nav li {
    display: inline;
    margin-left: 72px;
    font-size: 20px;
    
}

header .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    font-family: motiva-sans, sans-serif;
font-style:normal;
font-weight: 200;
}

header li a {
    color: #fff;
    text-decoration: none;
}


header div {
    cursor: pointer;
}

header h1 {
    font-size: 40px;
    margin-right: 60%;
    
}

header .container h1 {
    padding-right:px;
    
}

.container {
    
    margin: 0 auto
}
.articles {
    display: flex;
}